<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="../css/css1.css">
</head>
<body>
    <nav style="background-color: #FE6E09;height: 165px;margin: 0px;padding: 0px;">

        <div class="navbar">
            <h5>Nootan</h5>
            <div>
                <a class="active" href="#"><i ></i> Home</a> 
                <a href="#"><i ></i> Education</a> 
                <a href="#"><i ></i> Experience</a> 
                <a href="#"><i ></i> Hobbies</a>
                <a href="#"><i ></i> Careers</a>
                <a href="#"><i ></i> Travel</a>
                <a href="#"><i ></i> Contact Me</a>
            </div>
            



          </div>

   
</body>
</html>